* {
	display: inline;
}

project {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 1em;
	margin-left: 1em;
}

project>extend,
project>name,
project>artifactId,
project>shortDescription,
project>description,
project>inceptionYear,
project>currentVersion,
project>package,
project>developers,
project>developers:before,
project>contributors,
project>contributors:before,
project>properties,
project>properties:before {
	display: block;
}

project>extend:before,
project>artifactId:before,
project>inceptionYear:before,
project>currentVersion:before,
project>package:before {
	font-weight: bold;
}

project>extend,
project>package {
	font-family: "Courier New", Courier, mono;
}

project>extend {
	margin-top: 1em;
	margin-bottom: 1em;
}

project>extend:before {
	content: 'Extends: ';
}

project>name,
project>developers:before,
project>contributors:before,
project>properties:before {
	color: #FFFFFF;
	background-color: #6600CC;
}

project>name {
	font-size: 2em;
}

project>artifactId {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #009900;
}

project>artifactId:before {
	content: 'Artifact ID: ';
}

project>shortDescription,
project>description {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

project>shortDescription {
	font-style: italic;
}

project>inceptionYear:before {
	content: 'Inception Year: ';
}

project>currentVersion:before {
	content: 'Current Version: ';
}

project>package:before {
	content: 'Package Name: ';
}

project>developers:before,
project>contributors:before,
project>properties:before {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

project>developers:before {
	content: 'Developers';
}

project>contributors:before {
	content: 'Contributors';
}

project>properties:before {
	content: 'Properties:';
}

project>developers>developer,
project>contributors>contributor {
	display: list-item;
	list-style-position: inside;
	list-style-type: square;
}

project>developers>developer>email,
project>developers>developer>timezone,
project>developers>developer>organization,
project>developers>developer>roles,
project>contributors>contributor>email,
project>contributors>contributor>timezone,
project>contributors>contributor>organization,
project>contributors>contributor>roles {
	display: list-item;
	list-style-position: inside;
	list-style-type: square;
	margin-left: 1.5em;
}

project>developers>developer>name,
project>contributors>contributor>name {
	font-size:1.2em;
}

project>developers>developer>id:before,
project>contributors>contributor>id:before,
project>developers>developer>id:after,
project>contributors>contributor>id:after {
	font-size:0.8em;
}

project>developers>developer>id:before,
project>contributors>contributor>id:before {
	content: '(';
}

project>developers>developer>id:after,
project>contributors>contributor>id:after {
	content: ')';
}

project>developers>developer>roles>role + role:before,
project>contributors>contributor>roles>role + role:before {
	content: ', ';
}